<div class="flex justify-center h-screen items-center overflow-hidden">
    <div class="container">
        <div class="cover" [ngClass]="{'route-active':isRegister}">
            <div class="front">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-760w,f_auto,q_auto:best/newscms/2019_41/3044956/191009-cooking-vegetables-al-1422.jpg" alt=""/>
                <div class="text">
                    <span class="text-1">
                        The Recipe Hub: Create, Share and Save your kitchen diaries...
                    </span>
                    <span>
                        Let's Get Started :)
                    </span>
                </div>
            </div>
            <div class="back">
                <img src="https://github.com/rafael-men/recipe-hub-springboot-angular17/blob/main/frontend-recipe/src/app/pages/navbar/images/Icon.png?raw=true" alt=""/>
            </div>
        </div>
        <div class="from h-full">
            <div class="form-content h-full">
                <div class="login-form">
                    <h1 class="text-lg font-bold text-center pb-8">Sign Up</h1>
                </div>
            </div>
        </div>
    </div>
</div>
