<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH1FXCyHsTTlXEm9cA_bRnzj5JiPiGa3I-x9GT35OUtA&s" alt="">
      <mat-card-title>{{recipe.user.fullName}}</mat-card-title>
    </mat-card-header>
    <p class="pl-5 font-semibold size-5 text-lg ">{{recipe.title}}</p>
    <img class="max-h-[400px] object-cover" [src]="recipe.image">
    <mat-card-content>
      <p class="pt-4 text-white">
       {{recipe.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="flex justify-between">
      <div>
        <button mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button (click)="handleOpenEditRecipeForm()" mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>share</mat-icon>
        </button>
        <button (click)="handleDeleteRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
