<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH1FXCyHsTTlXEm9cA_bRnzj5JiPiGa3I-x9GT35OUtA&s" alt="">
      <mat-card-title>Rafael</mat-card-title>
    </mat-card-header>
    <img class="max-h-[400px] object-cover" src="https://images.squarespace-cdn.com/content/v1/5e5e9fc80a4f5d45cfd0c96d/1605202246462-9G19TQXIAORMUPWZP0HT/Farikal01.jpg">
    <mat-card-content>
      <p>
        O fårikål é um cozido de pedaços de ovelha com osso - as carnes são o ombro, o pescoço e as costelas -, podendo também ser preparado com carne do lombo, além dos demais ingredientes, que são o repolho verde, sal e a pimenta preta em grãos. Todos os ingredientes são cozidos em uma panela por várias horas.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
