<div class="pb-5">
    <div class="flex justify-center flex-wrap gap-1">
        @for(item of recipes; track 1) {
            <app-recipe-card [toggle]="true" [recipe]="item"/>
        }
        @empty {
            <div>
                No Recipe Exist
            </div>
        }
    </div>
    

    <div class="fixed bottom-10 right-10">
        <button (click)="handleOpenCreateRecipeForm()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button>
    </div>
    
</div>