<p>
    <mat-toolbar class="flex items-center justify-between" color="secondary">
      <div>
        <img src="https://github.com/rafael-men/recipe-hub-springboot-angular17/blob/main/frontend-recipe/src/app/images/Logo.png?raw=true" alt="" height="60px" width="60px">
      </div>
      <div>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    </p>
